@use '../helpers/' as *;

.bordered-grid {
	--columns: 1;
	--itemPaddingY: #{fluid(80, 40)};
	--itemPaddingX: 0;

	display: flex;
	flex-direction: column;

	&__row {
		&:not(:last-child) {
			border-bottom: var(--border);
		}

		&:has(.bordered-grid__row-list--cols-2) {
			@include mobile {
				border-bottom: none;

				&:last-child {
					.bordered-grid__row-item:last-child {
						border-bottom: none;
					}
				}
			}
		}

		&:has(.bordered-grid__row-list--cols-3) {
			@include tablet {
				border-bottom: none;

				&:last-child {
					.bordered-grid__row-item:last-child {
						border-bottom: none;
					}
				}
			}
		}

		&-list {
			display: grid;
			grid-template-columns: repeat(var(--columns), 1fr);

			&--cols-2 {
				--columns: 2;
				--itemPaddingX: #{rem(80)};

				@include laptop {
					--itemPaddingX: #{rem(50)};
				}

				@include mobile {
					--columns: 1;
					--itemPaddingX: 0;

					.bordered-grid__row-item {
						border-right: none;
						border-bottom: var(--border);
					}
				}
			}

			&--cols-3 {
				--columns: 3;
				--itemPaddingX: #{rem(50)};

				@include laptop {
					--itemPaddingX: #{rem(40)};
				}

				@include tablet {
					--columns: 1;
					--itemPaddingX: 0;

					.bordered-grid__row-item {
						border-right: none;
						border-bottom: var(--border);
					}
				}
			}
		}

		&-item {
			padding: var(--itemPaddingY) var(--itemPaddingX);
			border-right: var(--border);

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
				border-right: none;
			}
		}
	}
}
