@use '../helpers/' as *;

.bordered-grid {
	--columns: 1;
	--itemPaddingX: 0;

	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
	column-gap: 0;

	&--cols-2,
	&--cols-3 {
		column-gap: calc(var(--itemPaddingX) * 2 + var(--borderWidthInitial));
	}

	&--cols-2 {
		--columns: 2;
		--itemPaddingX: #{rem(80)};

		@include laptop {
			--itemPaddingX: #{rem(60)};
		}

		@include tablet {
			--itemPaddingX: #{rem(40)};
		}

		@include mobile-above {
			.bordered-grid__item {
				@include column-divider(var(--itemPaddingX));

				&:nth-child(even) {
					@include full-vw-centered-line(
						bottom,
						auto,
						calc(100% + var(--itemPaddingX)),
						50%
					);
				}

				&:nth-child(2n) {
					--columnDividerDisplay: none;
				}
			}
		}

		@include mobile {
			--columns: inherit;

			column-gap: inherit;

			.bordered-grid__item {
				&:not(:last-child) {
					border-bottom: var(--border);
				}
			}
		}
	}

	&--cols-3 {
		--columns: 3;
		--itemPaddingX: #{rem(50)};

		@include laptop {
			--itemPaddingX: #{rem(30)};
		}

		@include tablet-above {
			.bordered-grid__item {
				@include column-divider(var(--itemPaddingX));

				&:nth-child(3n - 1):not(:nth-last-child(-n + 3)) {
					@include full-vw-centered-line(bottom);
				}

				&:nth-child(3n) {
					--columnDividerDisplay: none;
				}
			}
		}

		@include tablet {
			--columns: inherit;

			column-gap: inherit;

			.bordered-grid__item {
				&:not(:last-child) {
					border-bottom: var(--border);
				}
			}
		}
	}

	&__item {
		--itemPaddingY: #{fluid(80, 40)};

		padding-block: var(--itemPaddingY);
	}
}
