@use '../helpers/' as *;

.burger-menu-button {
	--move-delay: 0.15s;
	--move-duration: 0.1s;
	--padding-inline: #{rem(4.25)};
	--transition-duration: 0.2s;

	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	color: var(--color-absolute-white);
	padding: rem(8.5) var(--padding-inline);
	background-color: transparent;
	overflow: hidden;

	@include square(rem(34));

	@include hover {
		color: var(--color-accent);
	}

	&__line {
		width: 100%;
		height: rem(2);
		border-radius: 1rem;
		background-color: currentColor;
		transition-duration: var(--transition-duration);

		&:last-child {
			align-self: flex-end;
			width: 55%;
		}
	}

	&.is-active {
		.burger-menu-button__line {
			&:first-child {
				rotate: 45deg;
				transform-origin: 0;
				translate: 0.25em -0.1em;
			}

			&:nth-child(2) {
				rotate: -45deg;
			}

			&:last-child {
				width: 0;
			}
		}
	}
}
