@use '../helpers/' as *;

.button {
	--button-min-width: #{rem(137)};

	display: inline-flex;
	justify-content: center;
	min-width: var(--button-min-width);
	padding: rem(14) rem(24);
	color: var(--color-gray-60);
	font-size: rem(18);
	white-space: nowrap;
	border: var(--border);
	border-radius: rem(10);
	background-color: var(--color-dark-8);

	@include hover {
		color: var(--color-accent);
		border-color: var(--color-accent);
		background-color: var(--color-dark-10);
	}

	@include laptop {
		--button-min-width: #{rem(103)};

		padding: rem(10) rem(14);
		font-size: rem(14);
	}

	&--accent {
		font-weight: 500;
		color: var(--color-dark-8);
		background-color: var(--color-accent);
	}

	&--dark-gray {
		background-color: var(--color-dark-10);
	}
}
