@use '../helpers' as *;

.hero {
	display: flex;
	flex-direction: column;

	&__main {
		@include tablet-above {
			display: grid;
			grid-template-columns: auto 41%;
			grid-template-areas:
				'body resources-preview'
				'metrics resources-preview';
		}
	}

	&__body {
		grid-area: body;
		padding-top: rem(150);
		padding-right: rem(50);
		padding-bottom: rem(100);

		@include laptop {
			padding-top: rem(100);
			padding-right: rem(40);
		}

		@include tablet {
			padding-top: rem(40);
			padding-right: 0;
			padding-bottom: rem(30);
		}
	}

	&__subtitle {
		@include fluid-text(30, 18);

		font-family: var(--font-family-accent);
		font-weight: 500;
		color: var(--color-dark-40);
		line-height: 1.2;

		&:not(:last-child) {
			margin-bottom: rem(30);

			@include laptop {
				margin-bottom: rem(20);
			}

			@include mobile {
				margin-bottom: rem(14);
			}
		}
	}

	&__title {
		margin-bottom: rem(20);
		font-family: var(--font-family-accent);

		@include laptop {
			margin-bottom: rem(14);
		}

		@include mobile {
			margin-bottom: rem(10);
		}
	}

	&__description {
		@include fluid-text(18, 14);

		color: var(--color-gray-50);
	}

	&__metrics {
		grid-area: metrics;
		border-top: var(--border);
	}

	&__resources-preview {
		grid-area: resources-preview;

		// background: url('../../images/resources-preview/resources-preview__abstract.png')
		// 	no-repeat 0 0 / cover;
	}

	&__advantages {
		border-block: var(--border);

		&-list {
			@include tablet-above {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
			}
		}

		&-item {
			--padding-y: #{rem(50)};
			--padding-x: #{rem(80)};

			padding-block: var(--padding-y);

			@include laptop {
				--padding-y: #{rem(40)};
				--padding-x: #{rem(50)};
			}

			@include tablet {
				--padding-y: #{rem(30)};

				border-bottom: var(--border);
			}

			@include tablet-above {
				&:not(:first-child) {
					padding-left: var(--padding-x);
				}

				&:not(:last-child) {
					padding-right: var(--padding-x);
					border-right: var(--border);
					border-bottom: none;
				}
			}
		}
	}
}
