@use '../helpers/' as *;

.meta {
	display: flex;

	&__list {
		&--cols-2,
		&--cols-3 {
			display: grid;
		}

		&--cols-2 {
			grid-template-columns: repeat(2, 1fr);
			gap: fluid(30, 20) 1rem;

			@include tablet {
				grid-template-columns: auto 1fr;
				column-gap: rem(50);
			}

			@include mobile {
				grid-template-columns: repeat(2, 1fr);
				column-gap: 1rem;
			}
		}

		&--cols-3 {
			justify-self: start;
			grid-template-columns: repeat(3, auto);
			column-gap: fluid(50, 20);
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		row-gap: rem(4);

		@include laptop {
			row-gap: rem(2);
		}

		&--wide {
			grid-column: 1 / -1;
			row-gap: fluid(16, 10);
			margin-top: fluid(20, 10);
		}
	}

	&__key {
		align-self: stretch;
	}

	&__value {
		color: var(--color-absolute-white);
	}
}
