@use '../helpers/' as *;

.person-card {
	--imageSize: #{rem(80)};

	display: flex;
	align-items: center;
	column-gap: fluid(14, 10);

	&__avatar {
		width: var(--imageSize);

		&--middle {
			--imageSize: #{rem(60)};
		}

		@include laptop {
			--imageSize: #{rem(60)};

			&--middle {
				--imageSize: #{rem(50)};
			}
		}
	}

	&__name {
		color: var(--color-absolute-white);
		font-weight: 600;
		font-size: rem(20);

		@include laptop-above {
			margin-bottom: rem(2);
		}

		@include laptop {
			font-size: rem(18);
		}
	}

	&__meta {
		color: var(--color-dark-40);

		@include fluid-text(18, 14);
	}
}
