@use '../helpers/' as *;

.section {
	&__header {
		padding-block: fluid(120, 40);

		&-info {
			display: flex;
			flex-direction: column;
			align-items: start;
			row-gap: rem(16);

			@include laptop {
				row-gap: rem(10);
			}
		}
	}

	&__body {
		border-block: var(--border);
	}
}
