@use '../helpers/' as *;

.soc1al-proof {
	display: flex;
	align-items: center;
	column-gap: rem(50);

	@include laptop {
		column-gap: rem(30);
	}

	@include mobile-s {
		justify-content: space-between;
	}

	&__body {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;

		@include mobile-s {
			flex-shrink: initial;
		}
	}

	&__stats {
		margin-bottom: rem(6);

		@include laptop {
			margin-bottom: rem(4);
		}
	}

	&__team {
		padding: rem(10);
		border-radius: rem(12);
		background-color: var(--color-dark-8);

		@include laptop {
			padding: rem(8);
		}
	}
}
