@use '../helpers/' as *;

.tabs {
	&__header {
		border-bottom: var(--border);

		@include tablet {
			overflow-x: auto;
		}
	}

	&__buttons {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		padding-block: fluid(50, 20);
		column-gap: rem(20);

		@include laptop {
			column-gap: rem(14);
		}

		@include tablet {
			width: max-content;
		}

		&--compact {
			grid-template-columns: initial;
			display: flex;
			width: 100%;
			column-gap: rem(10);
			padding: rem(10);

			.tabs__button {
				padding: rem(18) rem(38);

				@include laptop {
					padding: rem(14) rem(24);
				}

				@include mobile {
					width: 100%;
					padding: rem(14) rem(13);
				}
			}
		}
	}

	&__button {
		padding-block: rem(30);
		padding-inline: rem(11);
		color: var(--color-gray-60);
		border: var(--border);
		border-radius: rem(8);
		background-color: var(--color-dark-8);

		&.is-active {
			color: var(--color-absolute-white);
			font-weight: 500;
			background-color: var(--color-dark-10);
			pointer-events: none;
		}

		@include laptop {
			padding-block: fluid(24, 18);
			font-size: rem(14);
			border-radius: rem(7);
		}

		@include hover {
			color: var(--color-accent);
			border-color: var(--color-accent);
		}
	}

	&__content {
		&:not(.is-active) {
			display: none;
		}

		&:focus-visible {
			outline-offset: -1rem;
		}
	}
}
