@use '../helpers/' as *;

.tile {
	--tilePadding: #{fluid(40, 24)};

	padding: var(--tilePadding);
	border: var(--border);
	border-radius: rem(12);
	background-color: var(--color-dark-10);

	@include laptop {
		border-radius: rem(10);
	}

	&--middle {
		--tilePadding: #{fluid(30, 20)};
	}

	&--small {
		--tilePadding: #{rem(20)};

		@include laptop {
			--tilePadding: #{rem(18)};
		}
	}

	&--extra {
		padding-top: fluid(50, 30);
	}

	&--dark {
		background-color: var(--color-dark-8);
	}

	&--no-border {
		border: none;
	}

	&--no-padding {
		padding: 0;
	}
}
