@use 'helpers' as *;

html {
	&.is-lock {
		overflow: hidden;
	}
}

body {
	color: var(--color-gray-60);
	font-family: var(--font-family-base);
	font-size: rem(18);
	line-height: 1.5;
	letter-spacing: -0.03em;
	background-color: var(--color-dark-8);
}

a,
button,
label,
input,
textarea,
select,
svg * {
	transition-duration: var(--transition-duration);
}

a {
	color: inherit;
	text-decoration: none;

	@include hover {
		color: var(--color-accent);
	}
}

button,
input {
	border: none;
	outline: none;
}
