@use 'helpers' as *;

body {
	font-family: var(--font-family-base);
	letter-spacing: -0.03em;
	color: var(--text-color-base);
	background-color: burlywood;

	@include fluid-text(18, 14);
}

a,
button,
label,
input,
textarea,
select,
svg * {
	transition-duration: var(--transition-duration);
}

a {
	color: inherit;
	text-decoration: none;
}

button,
input {
	border: none;
	outline: none;
}
