@use 'helpers' as *;

:root {
	/* Глобальные переменные: цвета и т.д. */

	--color-absolute-white: #ffffff;

	--color-accent: #ffd11a;

	--color-dark-8: #141414;
	--color-dark-10: #1a1a1a;
	--color-dark-15: #262626;
	--color-dark-20: #333333;
	--color-dark-40: #666666;

	--color-gray-50: #7e7e81;
	--color-gray-60: #98989a;

	--color-red: #ff5500;

	--gradient: linear-gradient(45deg, var(--color-dark-15) 64%, var(--color-accent) 136%);

	--font-family-base: 'Inter', sans-serif;
	--font-family-accent: 'Kumbh Sans', sans-serif;

	--container-width: #{rem(1600)};
	--container-padding-x: #{rem(15)};

	--initialMaxHeightExpContent: #{rem(500)};

	--transition-duration: 0.2s;

	--borderWidthInitial: #{rem(1)};
	--borderColor: var(--color-dark-15);
	--border: var(--borderWidthInitial) solid var(--borderColor);

	--selectFieldWidth: #{rem(100)};

	/* Переменная --scrollbar-width прописана в файле defineScrollBarWidthCSSVar.js */
	--100vw: calc(100vw - var(--scrollbar-width));

	@include laptop {
		--container-width: #{rem(1280)};
	}
}
